<app-navigation></app-navigation>
<div class="container mt-5">
  <div class="mb-4 pt-5">
    <h1 class="text-center" style="color: #6da3be;">We are ...</h1>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="">
        <div class="card-body">
          <h3 class="card-title ml-5">About Aviation</h3>
          <p class="card-text">
            With more than 24,350 employees and a leadership position in global markets, Bombardier Aviation designs, manufactures and supports innovative aviation products for the business, commercial and specialized aircraft markets. With this comprehensive aircraft portfolio, we hold the number one position in business and regional aircraft. Our high-performance aircraft and services set the standard of excellence in several markets, including:

            Business aircraft - Learjet, Challenger and Global aircraft families

          </p>
          <div class="panel-group" id="accordion">
            <div class="panel panel-info">
              <p class="collapse" id="block-id">
                Regional aircraft - CRJ Series
                Aerostructures & Engineering Services - aircraft structures, component repair and other services 
                Specialized aircraft solutions - Bombardier aircraft modified for special missions
                Aircraft services and training - aircraft parts, maintenance, training, technical support and publications, and online services
              </p>
              <a
                href="#block-id"
                class=" "
                data-toggle="collapse"
                aria-expanded="false"
                aria-controls="block-id"
              >
                <span class="collapsed">
                  Read more...
                </span>
                <span class="expanded">
                  Read less
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="">
        <div class="card-body">
          <h3 class="card-title ml-5">About Transportation</h3>
          <p class="card-text">
            With 63 production and engineering sites in 27 countries, Bombardier 
            Transportation is a global mobility solution provider leading the way 
            with the rail industry’s broadest portfolio. We cover the full spectrum
             of rail solutions, ranging from trains to sub-systems and signalling to
              complete turnkey transport systems, e-mobility technology and data-driven
               maintenance services. Our installed base of rolling stock exceeds 100,000 rail
             cars and locomotives worldwide. Our 36,050 employees continue a proud tradition of 
             delivering ingenious rail transportation solutions, including:
          </p>
          <div class="panel-group" id="accordion"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="">
        <div class="card-body" style="text-align: center;">
          <h5 class="card-title">Focusing on the right priorities</h5>
          <p class="card-text">
            we’ll continue to proactively manage both of our businesses through the 
            COVID-19 crisis to ensure our company’s long-term sustainability;
          </p>
        </div>
      </div>
    </div>
  </div>
  <br />
</div>
<app-newsletter></app-newsletter>

<app-footer></app-footer>
