<app-navigation></app-navigation>
<div class="container mt-5">
  <div class="mb-4 pt-5">
    <h1 class="text-center" style="color: #6da3be;">Om oss</h1>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="">
        <div class="card-body">
          <h3 class="card-title ml-5">Lorem, ipsum dolor.</h3>
          <p class="card-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero,
            qui magnam animi reiciendis provident repudiandae perferendis,
            quisquam, vitae laudantium doloribus facere porro officia quia. In
            sequi eum quidem esse hic nam itaque facilis veritatis officia.
          </p>
          <div class="panel-group" id="accordion">
            <div class="panel panel-info">
              <p class="collapse" id="block-id">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse,
                libero placeat blanditiis unde dolorem quod sapiente eaque eius
                velit, dolores accusamus. Cum, sit error eaque sapiente
                doloribus alias impedit animi, id obcaecati veritatis vitae
                exercitationem!
              </p>
              <a
                href="#block-id"
                class=" "
                data-toggle="collapse"
                aria-expanded="false"
                aria-controls="block-id"
              >
                <span class="collapsed">
                  Läs mer...
                </span>
                <span class="expanded">
                  Läs mindre
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="">
        <div class="card-body">
          <h3 class="card-title ml-5">Lorem, ipsum dolor.</h3>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime,
            reiciendis? Deserunt tempora vitae aliquid, molestiae porro sunt,
            fuga alias saepe, corporis impedit mollitia. Possimus natus dolorum
            fugit non animi officiis maiores, itaque asperiores! Sint,
            exercitationem?
          </p>
          <div class="panel-group" id="accordion"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="">
        <div class="card-body" style="text-align: center;">
          <h5 class="card-title">Lorem, ipsum dolor.</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
            maxime ab ipsam provident perspiciatis id debitis reprehenderit odio
            deleniti, odit ut facilis nesciunt totam assumenda at iure iusto
            magnam, et, consequatur inventore expedita dolor a.
          </p>
        </div>
      </div>
    </div>
  </div>
  <br />
</div>
<app-newsletter></app-newsletter>

<app-footer></app-footer>
